@charset "utf-8";
/* CSS Document */

#boardSkin { width:1140px;}
#boardSkin input { vertical-align:middle;}
#boardSkin select { background:#ffffff; border:1px solid #e0e0e0; vertical-align:middle; }
#boardSkin .textForm { background:#ffffff; border:1px solid #e0e0e0; padding:3px; }
#boardSkin textarea { background:#ffffff; border:1px solid #e0e0e0;  resize:none;}
#boardSkin .middleCon { vertical-align:middle;}
#boardSkin a { color:#333333; }
#boardSkin a:hover { color:#00b2c0; text-decoration:underline;}
#boardSkin .clr { clear:both;}

/*############################################################# 리스트 #############################################################*/

#boardSkin #boardList { width:100%;}
#boardSkin #boardList thead { }
#boardSkin #boardList thead th { text-align:center; border-top:2px solid #555555; border-bottom:1px solid #d7d7d7; padding:8px 0; color:#888888;}
#boardSkin #boardList tbody td { padding:15px 0; border-bottom:1px solid #e8e8e8;}
#boardSkin #boardList tbody td.td1 { text-align:center; color:#999999;}
#boardSkin #boardList tbody td.td2 { text-align:center; color:#000000;}
#boardSkin #boardList tbody td.td3 { text-align:left;}
#boardSkin #boardList tbody td.td3 .subject,
#boardSkin #boardList tbody td.td3 .subject a { color:#333333; font-size:13pt; font-weight:bold;}
#boardSkin #boardList tbody td.td3 .etext { color:#737679; font-size:11pt; padding:7px 0 3px 0;}
#boardSkin #boardList tbody td.td3 .edate { color:#999999; font-size:9pt; padding-bottom:10px;}
#boardSkin #boardList tbody td.td4 { text-align:center;}
#boardSkin #boardList tbody td.td4 img { border:1px solid #e0e0e0;}
#boardSkin #boardList tbody td.td5 { text-align:center;}
#boardSkin #boardList tbody tr.notice { background:#fcfcfc;}
#boardSkin #boardList tbody tr.notice td.td1 { color:#000000;}
#boardSkin #boardList tbody tr.notice td.td3 {}

/*############################################################# 검색 #############################################################*/

#boardSkin #searchBox { padding-bottom:14px; text-align:right;}

/*############################################################# 카테고리 #############################################################*/

#boardSkin #categoryBox { padding-bottom:14px; text-align:left;}

#boardSkin #categoryBox .category { width:100%; display:block;}
#boardSkin #categoryBox .category li { margin:2px; width:11.97%;float:left; display:inline-block; .display:inline; zoom:1; vertical-align:middle; border:1px solid #e0e0e0;}
#boardSkin #categoryBox .category li a { width:100%; padding:12px 0; display:block; text-align:center; background:#f5f5f5; font-weight:normal; color:#333;}
#boardSkin #categoryBox .category li a:hover { background:#ffffff; color:#000; font-weight:bold; text-decoration:none;}
#boardSkin #categoryBox .category li.select a { background:#00b2c0; color:#ffffff; font-weight:bold;}
#boardSkin #categoryBox .category li.select a:hover { background:#00b2c0; color:#ffffff; font-weight:bold; text-decoration:none;}
#boardSkin #categoryBox .category li.bg { }

/*############################################################# 버튼영역 #############################################################*/

#boardSkin .btnArea_list { text-align:right; position:relative;}
#boardSkin .btnArea { text-align:center;}
#boardSkin .btnArea2 { text-align:right; padding-top:20px;}
#boardSkin .btnArea3 { text-align:center; padding-top:20px;}

/*############################################################# 페이징 #############################################################*/

#boardSkin .pageArea { text-align:center; padding-top:10px;}
#boardSkin .pageArea .pagingList { text-align:center; display:inline-block; .display:inline; zoom:1;}
#boardSkin .pageArea .pagingList li { text-align:center; display: inline; float:left; padding:5px;}
#boardSkin .pageArea .paging { text-align:center; display:inline-block; .display:inline; zoom:1;}
#boardSkin .pageArea .paging li { text-align:center; display: inline; float:left;}
#boardSkin .pageArea .paging li, 
#boardSkin .pageArea .paging li a { font-size:15pt; font-weight:normal;}
#boardSkin .pageArea .paging .over { color:#00b2c0; font-weight:bold;}


/*################################# view #################################*/

#boardSkin .subjectBox { font-size:13pt; text-align:center; border-top:2px solid #555555; border-bottom:1px solid #d7d7d7; padding:8px 0; color:#333333; font-weight:bold;}
#boardSkin .infor { border-bottom:1px solid #dfdfdf; padding:6px 0;}
#boardSkin .infor ul { text-align:left; display:inline-block; .display:inline; zoom:1; padding-left:10px;}
#boardSkin .infor ul li { text-align:left; display: inline; float:left; color:#999999;}
#boardSkin .infor ul li strong { color:#333; font-weight:bold;}
#boardSkin .infor ul li.bg { background:url(../images/icon_gubun.gif) no-repeat right 0; padding-right:20px;}
#boardSkin .file { background:#f8f8f8; border-bottom:1px solid #dfdfdf; padding:6px 0;}
#boardSkin .file ul { text-align:left; display:inline-block; .display:inline; zoom:1; padding-left:10px;}
#boardSkin .file li { text-align:left; color:#333333; padding:2px 0 2px 15px; background:url(../images/icon_file.gif) no-repeat left 2px;}
#boardSkin .file li a { color:#a3a29f; font-weight:bold; text-decoration:underline;}
#boardSkin .contents { padding:20px 10px 40px 10px; border-bottom:1px solid #dfdfdf; line-height:150%; }
#boardSkin .contents .imgWrap { margin-bottom:7px; text-align:center;}
#boardSkin .goList {}
#boardSkin .goList ul {}
#boardSkin .goList ul li { border-bottom:1px solid #dfdfdf; padding:7px 0 7px 80px;}
#boardSkin .goList ul li.prev { background:url(../images/view_tt_prev.gif) no-repeat center left;}
#boardSkin .goList ul li.next { background:url(../images/view_tt_next.gif) no-repeat center left;}

/*################################# write #################################*/

#boardSkin .agreeBox { background:#f8f8f8; border:1px solid #dddddd; padding:20px;}
#boardSkin .agreeBox .agreeText { height:120px; overflow:auto; line-height:150%;}
#boardSkin .agreeBox p { padding-top:15px; text-align:center;}

#boardSkin #writeForm { border-top:2px solid #000000; margin-top:20px;}
#boardSkin #writeForm th,
#boardSkin #writeForm td { border-bottom:1px solid #dfdfdf; padding:7px 0; text-align:left;}
#boardSkin #writeForm th { font-weight:bold; color:#585858; padding-left:15px;}
#boardSkin #writeForm td .tt { font-size:12px; color:#499fcb; letter-spacing:0; margin-left:10px;}


/*################################# 상담폼 #################################*/

#bottom_counsel{overflow:hidden; width:1100px; height:297px; margin:70px auto 70px; background:url('../images/counsel_bg.jpg');}
#bottom_counsel .kakao{float:right;}
#bottom_counsel .form_wrap{float:left; overflow:hidden; position:relative; width:580px; margin-top:34px; margin-left:39px;}
#bottom_counsel .form_wrap .top_txt{margin-bottom:20px;}
#bottom_counsel table{float:left; width:361px;}
#bottom_counsel table th{padding-top:6px; font-size:14px; color:#ffffff; text-align:left; vertical-align:top;}
#bottom_counsel table td{padding:3px 0px;}
#bottom_counsel .row{overflow:hidden;}
#bottom_counsel .row select, #bottom_counsel .row input{float:left; width:90px; margin-left:7px;}
#bottom_counsel .row select:first-child, #bottom_counsel .row input:first-child{margin-left:0px;}
#bottom_counsel .input01{height:23px; border:0px; padding:0px 5px; margin:0px; line-height:21px; background:#dfdfdf;}
#bottom_counsel .select01{height:23px; border:0px; padding:2px; background:#dfdfdf;}
#bottom_counsel textarea{width:100%; height:80px; border:0px; padding:0px 5px; margin:0px; background:#dfdfdf;}
#bottom_counsel .size01{width:100%;}
#bottom_counsel input,#bottom_counsel select, #bottom_counsel textarea{box-sizing: border-box; webkit-box-sizing: border-box; moz-box-sizing: border-box;}
#bottom_counsel .btn_wrap{position:absolute; bottom:2px; right:0px; width:198px;}
#bottom_counsel .btn_privacy {font-family:'돋움',Dotum; font-size:11px; color:#fae304;}
#bottom_counsel .btn_privacy:hover{color:#fae304; text-decoration:none;}
#bottom_counsel .btn_wrap p{padding:0 0 5px 0; font-family:'돋움',Dotum; font-size:11px; color:#ffffff;}





