@charset "utf-8";
/* CSS Document */

.password_wrap { padding:30px 0 50px; text-align:center;}
.password_wrap .clr {clear:both; font-size:0; line-height:0;}/** 플로팅 된 요소를 clear하기 **/
.password_wrap .password_bg { width:624px; margin:0 auto; border:10px solid #dddddd; background:#FFF; padding:13px;}
.password_wrap .leftarea { width:180px; text-align:right; float:left;}
.password_wrap .rightarea { padding-left:30px; float:left; text-align:left;}
.password_wrap .rightarea .t1 { margin-top:20px; font-size:18pt; font-weight:bold; letter-spacing:-1px;}
.password_wrap .rightarea .t2 { margin-top:10px; font-size:14px; font-weight:normal; letter-spacing:-1px;}
.password_wrap .rightarea .form { margin-top:18px;}
.password_wrap .rightarea .inputs { border:1px solid #dddddd; height:18px; line-height:18px;}
.password_wrap .rightarea input,
.password_wrap .rightarea img { vertical-align:middle;} 