/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*############################################################# 기본 #############################################################*/

#boardSkin { width:100%; font-size: 17pt; color: #333333; font-family:'Nanum Gothic',monospace; - See more at:}
#boardSkin,
#boardSkin a { color:#333; font-weight:normal; text-decoration:none;}

#boardSkin input, #boardSkin textarea, #boardSkin button { outline:none; vertical-align:middle;}
/** #boardSkin input, #boardSkin input, #boardSkin textarea, #boardSkin button { -webkit-appearance:none; -moz-appearance:none; appearance:none; vertical-align:middle;} **/ <!-- 폼요소 디바이스의 디자인 초기화 -->
/** #boardSkin input, #boardSkin input, #boardSkin textarea, #boardSkin button, #boardSkin select { -webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0;} **/ <!-- 둥근모서리 제거 -->
#boardSkin img { vertical-align:middle;}
#boardSkin select { background:#ffffff; border:1px solid #e0e0e0; padding:2px; vertical-align:middle; height:38px; font-size:15pt;}
#boardSkin .textForm { background:#ffffff; border:1px solid #e0e0e0; padding:3px; height:36px; font-size:15pt;}
#boardSkin textarea { background:#ffffff; border:1px solid #e0e0e0;  resize:none; font-size:15pt;}
#boardSkin .clr { clear:both;}

.text_form {height:19px;line-height:19px;border:1px solid #d8d6ca;color:#333333;background-color:#FFFFFF;}
.photo_box {padding-bottom:15px;overflow:hidden;text-align:center;}
.textForm { background:#ffffff; border:1px solid #e0e0e0; padding:3px; height:13px;}
textarea { background:#ffffff; border:1px solid #e0e0e0;  resize:none;}
.middleCon { vertical-align:middle;}

/*############################################################# 카테고리 #############################################################*/

/* 탭영역 스타일 */

#categoryBox { padding-bottom:20px;}
#categoryBox .category2 { width:100%;}
#categoryBox .category2 li { width:33.3%;float:left; display:inline-block; .display:inline; zoom:1; vertical-align:middle; }
#categoryBox .category2 li a { width:100%; padding:7px 10px; display:block; text-align:center; border:1px solid #e0e0e0; background:#f5f5f5; font-weight:normal; color:#333;}
#categoryBox .category2 li.select a { color:#333; background:#fff; font-weight:bold;}
#categoryBox .category2 li.bg { }

/*############################################################# 리스트 #############################################################*/

#boardSkin #boardList { width:100%;}
#boardSkin #boardList thead { }
#boardSkin #boardList thead th { text-align:center; border-top:2px solid #555555; border-bottom:1px solid #d7d7d7; padding:8px 0; color:#888888; }
#boardSkin #boardList tbody td { padding:13px 0; border-bottom:1px solid #e8e8e8;}
#boardSkin #boardList tbody td.td1 { text-align:center; color:#999999;}
#boardSkin #boardList tbody td.td2 { text-align:center; color:#ef5994;}
#boardSkin #boardList tbody td.td3 { vertical-align:middle; padding-left:20px;}
#boardSkin #boardList tbody td.td3 .cate { font-size:13px; font-weight:bold; color:#0ca5af;}
#boardSkin #boardList tbody td.td3 .sj { padding:5px 0 7px 0;}
#boardSkin #boardList tbody td.td3 .sj,
#boardSkin #boardList tbody td.td3 .sj a { font-size:13pt; font-weight:bold; color:#333333;}
#boardSkin #boardList tbody td.td3 .content { font-size:13px; color:#999999;}

#boardSkin #boardList tbody td.td7 { text-align:center; vertical-align:top;}
#boardSkin #boardList tbody td.td7 .img { border:1px solid #dddddd; width:150px; margin:0 auto;}
#boardSkin #boardList tbody td.td7 .img img { display:block; vertical-align:top;}
#boardSkin #boardList tbody td.view { text-align:center;}
#boardSkin #boardList tbody tr.notice { background:#f8f8f8;}
#boardSkin #boardList tbody td.best { text-align:center;}
#boardSkin #boardList tbody tr.notice td.td3 { font-weight:bold;}
#boardSkin #boardList tbody td.name { font-size:13px; text-align:center; vertical-align:middle;}
#boardSkin #boardList tbody td.date { font-size:13px; text-align:center; vertical-align:middle;}
#boardSkin #boardList tbody td.hit { font-size:13px; text-align:center; vertical-align:middle;}


/*############################################################# 검색 #############################################################*/

#searchBox { padding-bottom:14px; text-align:right;}

/*############################################################# 카테고리 #############################################################*/

#categoryBox { padding-bottom:14px; text-align:left;}

#categoryBox .category { width:100%; display:block; }
#categoryBox .category li { margin:2px; width:20%;float:left; display:inline-block; .display:inline; zoom:1; vertical-align:middle; border:1px solid #e0e0e0;}
#categoryBox .category li a { width:100%; padding:12px 0; display:block; text-align:center; background:#f5f5f5; font-weight:normal; color:#333;}
#categoryBox .category li a:hover { background:#ffffff; color:#000; font-weight:bold; text-decoration:none;}
#categoryBox .category li.select a { background:#0ca5af; color:#ffffff; font-weight:bold;}
#categoryBox .category li.select a:hover { background:#0ca5af; color:#ffffff; font-weight:bold; text-decoration:none;}
#categoryBox .category li.bg { }


/*############################################################# 버튼영역 #############################################################*/

.btnArea_list { text-align:right; position:relative;}
#boardSkin .btnArea { text-align:center;}
#boardSkin .btnArea2 { text-align:right; padding-top:20px;}
#boardSkin .btnArea3 { text-align:center; padding-top:20px;}

/*############################################################# 페이징 #############################################################*/

#boardSkin .pageArea { text-align:center; padding:15px 0;}
#boardSkin .pageArea .pagingList { text-align:center; display:inline-block; .display:inline; zoom:1;}
#boardSkin .pageArea .pagingList li { text-align:center; display: inline; float:left; padding:7px;}
#boardSkin .pageArea .paging { text-align:center; display:inline-block; .display:inline; zoom:1;}
#boardSkin .pageArea .paging li { text-align:center; display: inline; float:left;}
#boardSkin .pageArea .paging li, 
#boardSkin .pageArea .paging li a { font-size:22pt; font-weight:bold;}
#boardSkin .pageArea .paging .over { color:#465daa; font-weight:bold;}


/*################################# view #################################*/

#boardSkin .subjectBox2 { text-align:center; border-top:1px solid #555555; border-bottom:1px solid #d7d7d7; padding:8px 0; color:#333333; font-weight:bold;}
#boardSkin .infor { border-bottom:1px solid #dfdfdf; padding:8px 0;}
#boardSkin .infor ul { text-align:left; display:inline-block; .display:inline; zoom:1; padding-left:10px;}
#boardSkin .infor ul li { text-align:left; display: inline; float:left; color:#999999;}
#boardSkin .infor ul li.bg { background:url(../images/icon_gubun.gif) no-repeat right 0; padding-right:20px;}
#boardSkin .file { background:#f8f8f8; border-bottom:1px solid #dfdfdf; padding:6px 0;}
#boardSkin .file ul { text-align:left; display:inline-block; .display:inline; zoom:1; padding-left:10px;}
#boardSkin .file li { text-align:left; color:#333333; padding:2px 0 2px 15px; background:url(../images/icon_file.gif) no-repeat left 2px;}
#boardSkin .file li a { color:#a3a29f; font-weight:bold; text-decoration:underline;}
#boardSkin .contents { padding:20px 10px 40px 10px; border-bottom:1px solid #dfdfdf; line-height:150%; }
#boardSkin .contents h2 { text-align:center; font-size:15pt; font-weight:bold; display:block; padding:15px 0 30px 0;}
#boardSkin .contents .imgWrap { margin-bottom:7px; text-align:center;}
#boardSkin .goList {}
#boardSkin .goList ul {}
#boardSkin .goList ul li { border-bottom:1px solid #dfdfdf; padding:7px 0 7px 80px;}
#boardSkin .goList ul li.prev { background:url(../images/view_tt_prev.gif) no-repeat center left;}
#boardSkin .goList ul li.next { background:url(../images/view_tt_next.gif) no-repeat center left;}


.sub_wrap {width:100%; position:relative;}
.sub_content {width:1000px; height:2500px; top:0; left:50%; margin-left:-390px; position:absolute; z-index:500;}

/*전후사진*/
#bnf_wrap {width:100%; height:700px; padding-bottom:30px; background:#fbfbfb; position:relative;}
#bnf_wrap .comment { font-size:12pt; padding:0 0 30px 0; text-align:center; font-weight:bold;}
#bnf_wrap strong {display:block; width:100%; height:45px; font:bold 18px/45px 'Nanum Gothic'; color:#fff; letter-spacing:-1px; text-align:center; background:#7568c2;}
#bnf_wrap .view_box {width:590px; height:382px; margin:25px auto; overflow:hidden; position:relative;}
#bnf_wrap .view_box .btnarea { width:100%; position:absolute; z-index:100; top:0; left:0; height:38px; text-align:center;}
#bnf_wrap .view_box .btnarea .btn {text-align:center; display:inline-block; .display:inline; zoom:1;}
#bnf_wrap .view_box .btnarea .btn li {text-align:center; display: inline; float:left;}
#bnf_wrap .view_box p {top:214px; left:50%; margin-left:-38px; position:absolute; z-index:100;}
#bnf_wrap .view_box .img {width:590px; height:382px; position:absolute;}
#bnf_wrap .view_box .img img { width:590px; height:382px;}
#bnf_wrap .view_box .img li { position:absolute;}
#bnf_wrap .sum {width:420px; margin:0 auto;}
#bnf_wrap .sum li { width:140px; float:left; cursor:pointer; text-align:center;}
#bnf_wrap .sum li img {display:block; margin-bottom:5px; width:120px; height:80px;}
#bnf_wrap .sum li p {font:bold 13px 'Nanum Gothic'; color:#707173; letter-spacing:-1px;}
#bnf_wrap .next { position:absolute; right:24px; cursor:pointer;}
#bnf_wrap .prev { position:absolute; left:24px; cursor:pointer;}
#bnf_wrap .more {display:block; width:220px; margin:0 auto;}


/*################################# write #################################*/

#boardSkin .agreeBox { background:#f8f8f8; border:1px solid #dddddd; padding:20px;}
#boardSkin .agreeBox .agreeText { height:120px; overflow:auto; line-height:150%;}
#boardSkin .agreeBox p { padding-top:15px; text-align:center;}

#boardSkin #writeForm { border-top:3px solid #555555; margin-top:20px;}
#boardSkin #writeForm th,
#boardSkin #writeForm td { border-bottom:1px solid #dfdfdf; padding:10px 0; text-align:left;}
#boardSkin #writeForm th { font-weight:bold; color:#585858; padding-left:15px;}
#boardSkin #writeForm td .tt { color:#499fcb; letter-spacing:-1px; margin-left:10px;}

